# NumPy

Why NumPy ?

NumPy is an acronym for "Numeric Python" or "Numerical Python"

[NumPy](http://www.numpy.org/) is the fundamental package for scientific computing with Python. It contains among other things:

* A powerful N-dimensional array object (ndarray) - efficiently implemented multi-dimensional arrays
* Array oriented computing - sophisticated (broadcasting) functions
* Tools for integrating C/C++ and Fortran code
* Designed for scientific computation - useful linear algebra, Fourier transform, and random number capabilities

In [44]:
# import NumPy library
# This library is bundled along with anaconda distribution
# np alias is the standard convention

import numpy as np

### numpy array (ndarray)

* A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers

* **ndarray.ndim** - the number of axes (dimensions) of the array. In the Python world, the number of dimensions is referred to as rank.

* **ndarray.shape** - the dimensions of the array. This is a tuple of integers indicating the size of the array in each dimension.

* **ndarray.size** - the total number of elements of the array. This is equal to the product of the elements of shape.

* **ndarray.dtype** - an object describing the type of the elements in the array.

<img src="fig_numpy_axes.png " alt="NumPy axes" height="300" width="300" align="left">

In [2]:
%%timeit
temp_list = range(100000)
temp_list1 = temp_list*2

100 loops, best of 3: 8.63 ms per loop

In [3]:
%%timeit
temp_array = np.arange(100000)
temp_array1 = temp_array*2

1000 loops, best of 3: 532 µs per loop

In [4]:
# ndarray can be created for regular python list or tupple
mylist = [2,5,8,15,25]
array = np.array(mylist)

In [5]:
type(array)

numpy.ndarray

In [6]:
array.shape

(5,)

In [7]:
array[0]

2

In [8]:
array[0:3]

array([2, 5, 8])

In [9]:
array.dtype

dtype('int64')

In [10]:
array.ndim

1

In [11]:
# dtype can be mentioned while creating an array
array2 = np.array(mylist,dtype=np.float)

In [12]:
array2

array([  2.,   5.,   8.,  15.,  25.])

In [13]:
array2.dtype

dtype('float64')

In [14]:
# creating a 5 X 3 multi dimensional array
marray = np.arange(15).reshape(5,3)

In [15]:
marray

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [16]:
marray.ndim

2

In [17]:
marray.shape

(5, 3)

In [18]:
marray.size

15

In [19]:
# ravel function generates a flattens 
marray.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [20]:
# reshape can be used to change the shape of an array
marray.ravel().reshape(3,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [21]:
marray.shape

(5, 3)

In [36]:
na=np.array([1,2,3,4])
na
print(na)
print(na.shape)
na=na.reshape(2,2)
print(np.arange(100))
np=np.array(np.arange(100)).reshape(10,10)

AttributeError: 'numpy.ndarray' object has no attribute 'array'

### Array basic operations

In [37]:
# multiplying a scalr and ndarray
marray*2

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16],
       [18, 20, 22],
       [24, 26, 28]])

In [38]:
marray

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [40]:
# inplace change
# there are certain operations that will modify the object inplace like one below
marray += 10
print (marray)

[[20 21 22]
 [23 24 25]
 [26 27 28]
 [29 30 31]
 [32 33 34]]

In [41]:

array

array([ 2,  5,  8, 15, 25])

In [42]:
# Guess - what would be the result of the following
marray > 15

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)

In [45]:
arr_A = np.array( [ [2,3], [4,5] ] )
arr_B = np.array( [ [1,1], [2,1] ] )

In [46]:
# * operates element wise
arr_A * arr_B

array([[2, 3],
       [8, 5]])

In [47]:
# dot is used for matrix multiplication
# np.dot(arr_A,arr_B) also works
arr_A.dot(arr_B)

array([[ 8,  5],
       [14,  9]])

### Array Slicing

In [48]:
marray[0]

array([20, 21, 22])

In [49]:
marray[0,1]

21

In [50]:
marray

array([[20, 21, 22],
       [23, 24, 25],
       [26, 27, 28],
       [29, 30, 31],
       [32, 33, 34]])

In [35]:
marray[:,1:3]

array([[21, 22],
       [24, 25],
       [27, 28],
       [30, 31],
       [33, 34]])

In [51]:
marray[0:3,:]

array([[20, 21, 22],
       [23, 24, 25],
       [26, 27, 28]])

In [52]:
marray[1:3,1:]

array([[24, 25],
       [27, 28]])

### Broadcasting

* The term [Broadcasting](http://scipy.github.io/old-wiki/pages/EricsBroadcastingDoc) describes how numpy treats arrays with different shapes during arithmetic operations.
* Subject to certain constraints, the smaller array is “broadcast” across the larger array so that they have compatible shapes.
* Broadcasting provides a means of vectorizing array operations so that looping occurs in C instead of Python.

<img src="fig_broadcast_visual_1.png" alt="Broadcasting" height="500" width="500", align="left">

### Exercises

In [ ]:
# Exercise - 1
# Construct  3 by 3 ndarray with 5 as diagonal elemet and 1 as remaining elements
# [[5, 1, 1][1,5,1][1,1,5]]
# Tip : explore np.ones and np.eye functions
# the dtype should be int

In [54]:
# Exercise
# try following array slicing
a = np.arange(0,60).reshape(6,10)[0:6,0:6]
print (a)

[[ 0  1  2  3  4  5]
 [10 11 12 13 14 15]
 [20 21 22 23 24 25]
 [30 31 32 33 34 35]
 [40 41 42 43 44 45]
 [50 51 52 53 54 55]]

<img src="fig_numpy_indexing_q.png " alt="Array Slicing" height="300" width="300" align="left">

In [ ]:
a

### NumPy functions used for performing computations

* np.sum
* np.std
* np.mean
* np.max
* np.min

In [ ]:
# np.NaN is a datatype - Not a Number
np.NaN?

In [ ]:
np.random.seed(0)
arr_c = np.random.random(15).reshape((5,3))
arr_c

In [ ]:
arr_c.sum()

In [ ]:
arr_c.min()

In [ ]:
arr_c.max()

In [ ]:
arr_c.mean(axis=0)

In [ ]:
arr_c.mean(axis=1)

In [55]:
nd=np.array(np.arange(50))

In [56]:
nd=nd.reshape(10,5)

In [57]:
nd

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [58]:
nd2=np.array(np.arange(25))

In [59]:
nd2=nd2.reshape(5,5)

In [60]:
nd2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [61]:
nd3=nd*nd2

ValueError: operands could not be broadcast together with shapes (10,5) (5,5)

In [62]:
nd2=nd2.ravel()

In [63]:
nd3=nd+nd2

ValueError: operands could not be broadcast together with shapes (10,5) (25,)

In [64]:
nd2=np.array(np.arange(5))

In [65]:
nd2

array([0, 1, 2, 3, 4])

In [66]:
nd

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [67]:
nd3=nd+nd2

In [68]:
nd3

array([[ 0,  2,  4,  6,  8],
       [ 5,  7,  9, 11, 13],
       [10, 12, 14, 16, 18],
       [15, 17, 19, 21, 23],
       [20, 22, 24, 26, 28],
       [25, 27, 29, 31, 33],
       [30, 32, 34, 36, 38],
       [35, 37, 39, 41, 43],
       [40, 42, 44, 46, 48],
       [45, 47, 49, 51, 53]])

In [69]:
nd3.sum()

1325

In [70]:
nd3.max()

53

In [71]:
nd3.min()

0

In [72]:
nd3.mean()

26.5

In [73]:
nd3.mean(axis=1)

array([  4.,   9.,  14.,  19.,  24.,  29.,  34.,  39.,  44.,  49.])

In [74]:
nd3.mean(axis=0)

array([ 22.5,  24.5,  26.5,  28.5,  30.5])